/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('Pikolo-Regular/pikolo.css');

/* Base Layout */
body {
  background-color: #302B31;
  color: #DCD6D7;
  margin: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  padding-top: 100px;
}

/* Navbar */
.navbar {
  background-color: #1B171C;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 32px;
}

.navbar-brand {
  color: #DCD6D7 !important;
  margin-left: 5rem;
  font-weight: 500;
}

.navbar-brand img {
  max-height: 50px;
  width: auto;
  vertical-align: middle;
  object-fit: contain;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-item {
  margin: 0 0.5rem;
}

.nav-link {
  color: #DCD6D7 !important;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #A899B2 !important;
}

.navbar .bi {
  color: #DCD6D7 !important;
  font-size: 32px;
  transition: color 0.3s ease;
}

.navbar .bi:hover {
  color: #A899B2 !important;
}

.navbar .d-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 5rem;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 60px;
}

.social-icons i {
  font-size: 48px;
  color: #DCD6D7;
  cursor: pointer;
  transition: color 0.3s ease;
}

.social-icons .fa-facebook:hover {
  color: #1877F2;
}

.social-icons .fa-instagram:hover {
  color: #ec1a95;
}

.social-icons .fa-youtube:hover {
  color: #FF0000;
}

.social-icons .fa-unsplash:hover {
  color: #111111;
}