/* Main Content */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.col-md-6 h2, .col-md-6 p, .col-md-6 .btn {
  display: block;
  text-align: left;
  margin-left: 0;
}

.col-md-6 h2 {
  margin-bottom: 1rem;
  font-family: 'Pikolo';
  font-size: 32px;
  color: #A899B2;
}

.col-md-6 p {
  margin-bottom: 1.5rem;
  font-size: 24px;
  color: #DCD6D7;
  font-weight: 500;
}

.btn {
  background-color: #625A67 !important;
  border-radius: 10px !important;
  border: none !important;
  color: #DCD6D7 !important;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 24px;
  font-weight: 700;
}

.btn:hover {
  background-color: #7a6f85 !important;
  color: #eee5ee !important;
}

/* Footer */
.footer-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7.5rem;
  height: 100px;
}

.footer-right {
  font-size: 24px;
  color: #DCD6D7;
  display: flex;
  align-items: center;
  font-weight: 700;
  height: 60px;
}
